<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置db配置文件-->
    <properties resource="db.properties"></properties>

    <!--配置别名-->
    <typeAliases>
        <!--根据类名进行别名-->
        <!--<typeAlias type="com.xuanzilan.mybatis.beans.Student"></typeAlias>-->

        <!--利用包名进行配置-->
        <package name="com.xuanzilan.mybatis.beans"></package>
    </typeAliases>

    <environments default="TestEM">
        <environment id="TestEM">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"></property>
                <property name="url" value="${db.url}"></property>
                <property name="username" value="${db.username}"></property>
                <property name="password" value="${db.password}"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--package这种方式必须保证接口名（例如IUserDao）和xml名（IUserDao.xml）相同，还必须在同一个包中。-->
        <!--<package name="com.xuanzilan.mybatis.dao.impl"></package>-->

        <mapper resource="com/xuanzilan/mybatis/dao/impl/AssociateDao.xml"></mapper>
        <mapper resource="com/xuanzilan/mybatis/dao/impl/StudentDao.xml"></mapper>
    </mappers>
</configuration>